## Loop Statements

1. While loop
2. for loop
3. nested loops
4. Loop control(break, continue, pass)

In [1]:
# while loop
# while is a continous iterating condtion working based on the check <=60

joining_age = 25
while joining_age <=60:
    joining_age = joining_age+1
    print(joining_age)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

In [ ]:
#The above condition iterates once the condition is satisfied i.e the joining_age becomes 61

In [2]:
joining_age = 25
while joining_age <=60:
    joining_age = joining_age+1
    print(joining_age)
else:
    print("It's time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
It's time for retirement

In [4]:
#Atm machine with 1000 rs.
# 

total_amount = 1000
while total_amount != 0:
    total_amount = total_amount - 100
    print(total_amount)

900
800
700
600
500
400
300
200
100
0

In [5]:
#Atm machine with 1000 rs.
# 

total_amount = 1000
while total_amount != 0:
    total_amount = total_amount - 100
    print(total_amount)
else:
    print("Put more money bank people")

900
800
700
600
500
400
300
200
100
0
Put more money bank people

# For Loop

In [6]:
lst = ["Nagesh", 1,2,3,4,"apple", "banana"]
type(lst)

list

In [7]:
lst[0]

'Nagesh'

In [8]:
lst[4]

4

In [9]:
for x in lst:
    print(x)

Nagesh
1
2
3
4
apple
banana

In [10]:
fruits_list = ["mango", "cherry", "apple", "papaya", "banana"]

In [11]:
for a in fruits_list:
    print(a)

mango
cherry
apple
papaya
banana

In [15]:
for a in fruits_list:
    print(a)
if a == "Cherry":
    print("The fruit is cherry")

mango
cherry
apple
papaya
banana